$color-scheme: var(--kd-color-scheme);

$background: var(--kd-background);
$background-hover: var(--kd-background-hover);
$background-active: var(--kd-background-active);

$text: var(--kd-text);
$text-contrast: var(--kd-text-contrast);
$text-secondary: var(--kd-text-secondary);
$text-placeholder: var(--kd-text-placeholder);

$primary: var(--kd-primary);
$primary-contrast: var(--kd-primary-contrast);
$primary-hover: var(--kd-primary-hover);
$primary-active: var(--kd-primary-active);

$accent: var(--kd-accent);
$accent-contrast: var(--kd-accent-contrast);
$accent-hover: var(--kd-accent-hover);
$accent-active: var(--kd-accent-active);

$error: var(--kd-error);
$error-contrast: var(--kd-error-contrast);
$error-hover: var(--kd-error-hover);
$error-active: var(--kd-error-active);

$warning: var(--kd-warning);
$warning-contrast: var(--kd-warning-contrast);
$warning-hover: var(--kd-warning-hover);
$warning-active: var(--kd-warning-active);

$surface: var(--kd-surface);
$surface-divider: var(--kd-surface-divider);
$surface-hover: var(--kd-surface-hover);
$surface-active: var(--kd-surface-active);

$surface-elevated: var(--kd-surface-elevated);
$surface-elevated-divider: var(--kd-surface-elevated-divider);
$surface-elevated-hover: var(--kd-surface-elevated-hover);
$surface-elevated-active: var(--kd-surface-elevated-active);

$modal-mask-background: var(--kd-modal-mask-background);
$modal-mask-background-hover: var(--kd-modal-mask-background-hover);
$modal-mask-background-active: var(--kd-modal-mask-background-active);

$modal-mask-dark-background: var(--kd-modal-mask-dark-background);
$modal-mask-dark-background-hover: var(--kd-modal-mask-dark-background-hover);
$modal-mask-dark-background-active: var(--kd-modal-mask-dark-background-active);

$modal-contrast: var(--kd-modal-contrast);
$modal-contrast-hover: var(--kd-modal-contrast-hover);
$modal-contrast-active: var(--kd-modal-contrast-active);
